@import "~antd/dist/antd.css";

/* App styles */

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(194, 57, 164);
  --antd-wave-shadow-color: rgb(194, 57, 164);
}

.app__container {
  text-align: left;
}

.app__content {
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app__card__container {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__card {
  background-color: rgba(63, 59, 59, 0.7);
  color: #f0f2f5;
  width: 50%;
  margin-bottom: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.2rem;
}

.image {
  background-color: rgba(63, 59, 59, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.image span.ant-avatar {
  border-radius: 10px;
}

/**** ant design style overrides ****/

/* antd header styles */

header.ant-layout-header {
  background-color: #f0f2f5;
}

.ant-avatar {
  color: rgb(194, 57, 164);
  background: #000000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* antd menus styles */

div.ant-layout-sider-children {
  background-color: #000000;
}

li.ant-menu-item,
li.ant-menu-item:hover {
  color: rgb(194, 57, 164);
  font-weight: 600;
  background-color: transparent;
}

div.ant-menu-submenu-title,
div.ant-menu-submenu-title:hover {
  color: rgb(194, 57, 164);
  font-weight: 600;
}

.ant-menu-submenu-arrow::before,
.ant-menu-submenu-arrow::after {
  transform: rotate(45deg) translateX(2.5px);
  color: rgb(194, 57, 164);
}

li.ant-menu-item-selected {
  border-right: 3px solid rgb(194, 57, 164);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}

/* .ant-menu-inline,
.ant-menu-item::after {
  border-right: 3px solid rgb(194, 57, 164);
} */

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid rgb(194, 57, 164);
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
}

.ant-menu-item-group-title {
  color: rgb(82, 75, 80);
  font-weight: 500;
  background-color: rgb(214, 187, 208);
}

/* antd Card styles */

h3.ant-typography {
  color: rgb(194, 57, 164);
}

.anticon-github svg {
  display: inline-block;
  color: rgb(194, 57, 164);
  width: 50px;
  height: 50px;
  margin-right: 2rem;
}

.anticon-medium-workmark svg {
  display: inline-block;
  color: rgb(194, 57, 164);
  width: 50px;
  height: 50px;
  margin-right: 2rem;
}

.anticon-linkedin svg {
  display: inline-block;
  color: rgb(194, 57, 164);
  width: 50px;
  height: 50px;
  margin-right: 2rem;
}

/* antd Footer styles */

.ant-layout-footer {
  color: rgb(194, 57, 164);
  font-weight: 600;
}
